Crimes_-_2001_to_Present.csv
archive.zip
Complete_codebook_chicago_crime.ipynb
analysing_chicago_crime.ipynb
.venv
sales_data.xls
DFD-showing-how-data-is-flowing-from-each-process-to-the-other.png
supply-chain-dashboard.svg
crime_data_dashboard.webp